* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

canvas, canvas2 {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #c8c8c8;
  width: 100%;
  float: left;
}


.container {
  box-sizing: border-box;
  float: left;
  width: 42%;
  margin: 4%;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.half-container {
  width: 42%;
  margin-left: 4%;
  margin-right: 4%;
  float: left;
  position: relative;
  text-align: center;
}

.half-container:after {
  content: "";
  display: block;
  clear: both;
}

.button-direction {
  margin: 2% auto;
}

.up-button-lab {
  width: 30.33333333333333%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  float: left;
}

/*.up-button-lab:after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: block;*/
/*}*/

.down-button-lab {
  display: block;
  width: 30.33333333333333%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  float: left;
}

@media screen and (max-width: 600px) {
  .half-container {
    width: 100%;
    position: relative;
  }

  .up-button-lab {
    width: 90%;
    margin: 2% auto;
  }

  .down-button-lab {
    width: 90%;
    margin: 2% auto;
  }

  .button-direction {
    width: 90%;
    margin: 2% auto;
  }

  .container {
    width: 100%;
    margin: 2% auto;
  }

  canvas, canvas2 {
    margin: 2% auto;
  }
}
